<br>
<h1>{{model.device.name}}</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3"><b>Created: </b></div>
            <div class="col-md-9">{{model.device.created | date:"dd/MM/yyyy HH:mm:ss"}}</div>
        </div>
        <div class="row">
            <div class="col-md-3"><b>Last update: </b></div>
            <div class="col-md-9">{{model.device.lastUpdated | date:"dd/MM/yyyy HH:mm:ss"}}</div>
        </div>
        <div class="row">
            <div>&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Switch</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in model.device.switches track by $index">
                        <td>{{key}}</td>
                        <td>
                            <div class="onoffswitch">
                                <input type="checkbox" ng-model="value" ng-change="checkBoxModel.onClick(key, value)" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{$index}}">
                                <label class="onoffswitch-label" for="myonoffswitch{{$index}}">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>
</div>