<br>
<h1>Add Monitors</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" ng-submit="addMonitor(monitorForm.$valid)" name="monitorForm" role="form">
            <div class="form-group">
                <label for="name">Monitor Name:</label>
                <input type="text" class="form-control" id="name" placeholder="monitor Name" ng-model="model.monitor.name" name="name" required>
            </div>

            <div class="form-group" ng-repeat="params in model.parameters track by $index">
                <label for="params1" ng-if="$index == 0">Parameters:</label>

                <div class="input-group">
                    <input type="text" class="form-control" id="params + {{$index+1}}" placeholder="parameter {{$index+1}}" ng-model="params.key" required>
                    <span class="input-group-btn" ng-if="$index > 0">
                        <button class="btn btn-danger" type="button" ng-click="removeParameter($index)"> - </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-info" type="button" ng-click="addParameter()">Add Parameters</button>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" ng-click="clearForm()" class="btn btn-info">Reset</button>
        </form>
    </div>
</div>