<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!--Logo-->
    <span class="logo"><img src="favicon.ico/logo.png" ></span>
    <!--<span class="navbar-brand">IOT Cloud Server</span>-->
    <!--Menu-->
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#/view1">Devices</a></li>
        <li class="nav-item"><a class="nav-link" href="#/view2">Add Devices</a></li>
        <li class="nav-item"><a class="nav-link" href="#/view6">Monitors</a></li>
        <li class="nav-item"><a class="nav-link" href="#/view8">Add Monitors</a></li>
    </ul>
</nav>

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6" ng-repeat="device in model.devices">
            <div class="row">
                <div class="col-md-12" ng-if="device.type == 'CONTROL'">
                    <a ng-href="#/view3/{{device.id}}"><h4>{{device.name}} (Control)</h4></a>
                </div>
                <div class="col-md-12" ng-if="device.type == 'PARKING'">
                    <h4>{{device.name}}</h4>
                    <a ng-href="#/view4/{{device.id}}"><h4>(Manage Parking)</h4></a>
                    <a ng-href="#/view5/{{device.id}}"><h4>(Book Parking)</h4></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Created: </b></div>
                <div class="col-md-9">{{device.created | date:"dd/MM/yyyy HH:mm:ss"}}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Last update: </b></div>
                <div class="col-md-9">{{device.lastUpdated | date:"dd/MM/yyyy HH:mm:ss"}}</div>
            </div>
            <div class="row">
                <div>&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Switch</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, value) in device.switches">
                            <td>{{key}}</td>
                            <td ng-if="device.type == 'CONTROL'">{{(value) ? "ON" : "OFF"}}</td>
                            <td  ng-if="device.type == 'PARKING'">{{(value) ? "Booked" : "Free"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>